<html>
  <head>
      <title>Rachel's Blog</title>
  </head>
  <body>
      <div>
        <h1><a href = "">Django Girls BLog</a></h1>
      </div>

      <div>
          <p>published 26.09.2015, 3:55</p>
          <h2><a href="">My first post</a></h2>
          <p>blah blah blah. Blah blah blah blah. Blah blah. </p>
      </div>

      <div>
        <p>published: 26.09.2015, 3:55pm</p>
        <h2><a href="">My second post</a></h2>
        <p>blah blah blah. blah blah blah blah. blah blah.</p>
      </div>
  </body>
</html>
